@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-2">All Roles</h1>

<hr />
<partial name="RoleForm" model="new RoleFormViewModel()"></partial>
@if(Model.Count()>0)
{
     <div class="container">

    <table class=" table table-hover table-striped">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(r=>r.Id)</th>
            <th>@Html.DisplayNameFor(r=>r.Name)</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen me-1"></i>Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash me-1"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <div class=" alert-warning mt-3 p-3">
        <h2>There is no records</h2>
    </div>
}